/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} 
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /*
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  color: white;
}
/* 
@font-face {
  font-family: 'NeueMachina-Regular';
  src: url('./assets/NeueMachina-Regular.woff2') format('woff2');
  font-weight: 300; 
  font-style: normal;
}
*/

@font-face {
  font-family: 'MyCustomFont-Regular';
  src: url('./assets/a85fe84266768609-s.p.e658778d.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
} 

/* @font-face {
  font-family: 'MyCustomFont-Bold';
  src: url('./assets/caa3a2e1cccd8315-s.p.853070df.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
} */

/* 
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
